<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imgPath}}"
         alt="No image"
         class="img-responsive"
         style="width: 70%; margin: 20px auto; border: 2px solid grey; border-radius: 10px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div appDropdown
         class="btn-group">
      <button type="button"
              class="btn btn-primary dropdown-toggle">More
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShoppingList()"
             style="cursor: pointer;">Add Ingredients to Shopping List</a>
        </li>
        <li>
          <a style="cursor: pointer;"
             (click)="onEditRecipe()">Edit Recipe</a>
        </li>
        <li>
          <a style="cursor: pointer;">Delete Recipe</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul>
      <label for="ingredients">Ingredients:</label>
      <li *ngFor="let ingredient of recipe.ingredients"
          style="margin-left: 20px;">
        {{ingredient.amount}} {{ingredient.name}}
      </li>
    </ul>
  </div>
</div>